{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="container bg-white text-dark shadow" style="margin-top:-200px">
        <div class="row" style="height: 1190px">
            <div class="container">
                <center><br>
                <h3> Kamus Matematika </h3>
                <p class="qaeeda"> Istilah dalam matematika yang perlu kamu ketahui </p>
                <table class="table table-bordered">
                    <thead>
                    <tr class="table-danger">
                        <th scope="col">No</th>
                        <th scope="col">Nama Istilah</th>
                        <th scope="col">Arti Istilah</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Absis</td>
                        <td>Jarak tegak lurus suatu titik</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Abstraksi</td>
                        <td>Proses representasi data dan program dalam bentuk sama dengan pengertiannya semantik, dengan menyembunyikan rincian / detail Implementasi</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <!--<td colspan="2">Larry the Bird</td>-->
                        <td>Adjoint</td>
                        <td>Transpose dari suatu matriks yang elemen-elemennya merupakan kofaktor dari elemen-elemen matriks tersebut</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Aksioma</td>
                        <td>Suatu pernyataan yang bisa dilihat kebenarannya tanpa perlu adanya bukti</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Bidang</td>
                        <td>Permukaan datar dan dua dimensi</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Bilangan asli</td>
                        <td>Bilangan yang dimulai dari angka 1 dan angka selanjutnya didapat dari menambah 1 dari bilangan semula</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>Bilangan imajiner</td>
                        <td>Bilangan kompleks yang dapat ditulis sebagai bilangan real dikalikan dengan unit imajiner i, yang ditentukan dengan propertinya i² = -1</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Bilangan rasional</td>
                        <td>Bilangan yang dapat dinyatakan sebagai a/b di mana a, b bilangan bulat dan b tidak sama dengan 0</td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>Derajat</td>
                        <td>Ukuran sudut yang dapat dibentuk pada sebuah bidang datar</td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>Determinan</td>
                        <td>Nilai real yang dihitung berdasarkan nilai elemen-elemennya, menurut rumus tertentu</td>
                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <td>Diagram</td>
                        <td>Representasi simbolis informasi dalam bentuk geometri dua dimensi sesuai teknik visualisasi</td>
                    </tr>
                    </tbody>
                </table>
                </center>
            </div>
        </div>
    </div>
</div>
  {% endblock %}