{% extends 'base.html' %}
 
{% load static %}
 
{% block content %}
<div class="container-fluid">
    <div class="container bg-white text-dark shadow" style="margin-top:-200px">
        <div class="row" style="height: 1500px">
        <center>
        <br><h4>Tokoh Tokoh Matematika Dunia</h4><br>
        <h5>Leo Euluer</h5>
           <img style="height:250px" src="{% static 'css/img/img004.jpg' %}" alt="" srcset=""><br>
        <p>Leonhard Euler merupakan seorang matematikawan dan fisikawan dari Swiss. Euler lahir di Basel, 15 April 1707 dan menghabiskan masa dewasanya di St. Petersburg, Rusia serta di Berlin. Euler dianggap sebagai matematikawan unggulan pada masa zaman ke-18 dan salah satu matematikawan terhebat yang pernah ada.
        Euler menciptakan penemuan yang beragam seperti kalkulus dan teori graf. Ia juga mengenalkan banyak notasi dan terminologi matematika modern, terutama kepada analisis matematika, seperti konsep fungsi matematika. Ia terkenal karena karyanya dalam mekanika, dinamika fluida, optik, dan astronomi.
        </p><br>
        <h5>Pythagoras</h5>
           <img style="height:250px" src="{% static 'css/img/img007.jpg' %}" alt="" srcset=""><br>
        <p>Siapa yang tidak kenal dengan matematikawan terkenal di dunia satu ini yaitu Phytagoras. Ia merupakan seorang ahli matematikawan dari Yunani yang lahir sekitar 570 SM. Teorinya yang paling terkenal ialah Phytagoras dalam trigonometri. Dua orang filsuf yang mempengaruhi teori Phytagoras adalah Thales dan Anaximander.
        Phytagoras mendirikan sekolah filsafat dan agama di Croton dan memiliki banyak pengikut. Ia juga merupakan kepala masyarakat dengan pengikut yang dikenal dengan sebutan “mathematikoi”. Phytagoras juga menghasilkan teori musik sehingga dikenal sebagai penemu skala Diatonis.
        </p><br>
        <h5>Archimedes</h5>
        <img style="height:250px" src="{% static 'css/img/img008.jpg' %}" alt="" srcset=""><br>
        <p>Archimedes merupakan seorang matematikawan, fisikawan, insinyur, dan astronom asal Yunani yang terkenal. Archimedes lahir di Sisilia, Italia pada 287 SM. Ia menemukan konsep ketakhinggaan yang merupakan bahan dasar kalkulus integral, selain juga menemukan prinsip matematis tuas yang merupakan sebuah sistem katrol yang didemonstrasikannya dengan menarik sebuah kapal.
        Selain itu, Archimedes juga merupakan seorang fisikawan dengan banyak penemuan yang kemudian dikenal sebagai “Hukum Archimedes”. Hukum tersebut berisikan teori jika benda dicelupkan pada suatu zat cair, maka benda akan mendapatkan gaya ke atas yang besarnya sama dengan gaya yang dipindahkan.
        </p>
        </center>
        </div>
    </div>
</div>
{% endblock %}
 
