{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="container bg-white text-dark shadow" style="margin-top:-200px">
        <div class="row" style="height: 3600px">
            <div class="container"><br><br>
                <div id="accordion">
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Materi Bilangan Bulat dan Pecahan
                          </button>
                        </h5>
                      </div>
                  
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <center>
                            <h7>Rekomendasi Video Pembelajaran</h7><br><br>
                            <iframe width="460" height="215" src="https://www.youtube.com/embed/V2G6vTxRdec" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </center>
                          </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Materi Himpunan
                          </button>
                        </h5>
                      </div>
                      <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                          <center>
                          <h7>Rekomendasi Video Pembelajaran</h7><br><br>
                          <iframe width="460" height="215" src="https://www.youtube.com/embed/PbjTeOoi26c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                          </center>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Materi Bentuk Aljabar
                          </button>
                        </h5>
                      </div>
                      <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                          <center>
                            <h7>Rekomendasi Video Pembelajaran</h7><br><br>
                            <iframe width="460" height="215" src="https://www.youtube.com/embed/s5yk8vg01As" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                          </center>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Materi Persamaan dan Pertidaksamaan Linear Satu Variabel
                            </button>
                          </h5>
                        </div>
                        <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
                          <div class="card-body">
                            <center>
                              <h7>Rekomendasi Video Pembelajaran</h7><br><br>
                              <iframe width="460" height="215" src="https://www.youtube.com/embed/7H_EhKcK2G4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </center>
                          </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Materi Perbandingan
                            </button>
                          </h5>
                        </div>
                        <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
                          <div class="card-body">
                            <center>
                              <h7>Rekomendasi Video Pembelajaran</h7><br><br>
                            <iframe width="460" height="215" src="https://www.youtube.com/embed/J7Vqi5DkRV4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </center>
                          </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Materi Aritmetika Sosial
                            </button>
                          </h5>
                        </div>
                        <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
                          <div class="card-body">
                            <center>
                              <h7>Rekomendasi Video Pembelajaran</h7><br><br>
                              <iframe width="460" height="215" src="https://www.youtube.com/embed/XSL44voFNik" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </center>
                          </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Materi Garis dan sudut
                            </button>
                          </h5>
                        </div>
                        <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
                          <div class="card-body">
                            <center>
                              <h7>Rekomendasi Video Pembelajaran</h7><br><br>
                              <iframe width="460" height="215" src="https://www.youtube.com/embed/2XE_PU3fRNM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </center>
                          </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Materi Segiempat dan segitiga 
                            </button>
                          </h5>
                        </div>
                        <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
                          <div class="card-body">
                            <center>
                              <h7>Rekomendasi Video Pembelajaran</h7><br><br>
                              <iframe width="460" height="215" src="https://www.youtube.com/embed/mZKZPeB4TIQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </center>
                          </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Materi Penyajian Data
                            </button>
                          </h5>
                        </div>
                        <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
                          <div class="card-body">
                            <center>
                              <h7>Rekomendasi Video Pembelajaran</h7><br><br>
                              <iframe width="460" height="215" src="https://www.youtube.com/embed/g9xaEvS0rKg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </center>
                          </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}