{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="container bg-white text-dark shadow" style="margin-top:-200px">
        <div class="row" style="height: 1190px">
            <center>
                <br><h2>Welcome to QMaths!</h2><br>
                <img style="height:500px" style="width:auto" src="{% static 'css/img/img009.jpg' %}" alt="">
                <br><br>
                <p> QMaths adalah website layanan matematika yang bermanfaat bagi kamu yang ingin mengetahui lebih jauh tentang  Matematika, 
                    Maths! Pilih menu Visitor untuk mengisi identitasmu, izinkan kami mengenalmu lebih dekat^^
                </p>
                <br> <br><br>
            </center>
        </div>
    </div>
</div>
{% endblock %}